@tailwind base;
@tailwind components;
@tailwind utilities;

.input{
     backgroundColor: white;
          border: 2px solid #FFB700;
          borderRadius: 4px;
          padding: 8px;
          color: black;
}